//##########################################
//#################  vars   ################
//##########################################

//================
//     colors
//================
$main-c: #eee;
$link-hover-c: #00ecec;

//================
//  backgrounds
//================
$body-bg: #161616;
$btn-bg: transparent;

// widts & heights:

$menu-btn-width: 60px;
$menu-btn-height: 60px;

$burger-width: 30px;
$burger-height: 2px;
